ROBOFLOW_PUBLIC_API = ""
ROBOFLOW_PRIVATE_API = ""
ROBOFLOW_WORKSPACE = "qceiabd"
ROBOFLOW_PROJECT = "hierarchy-ant-model"
PT_MODEL = "/runs/detect/train/weights/best.pt"
PROJECT_YAML = "/Hierarchy-Ant-Model-1\data.yaml"